
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PeopleDatabase</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h3>Sign In To Your Database</h3><br>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <label>Server Name: </label><br />
        <input type="text" name="server" placeholder="Enter Server" /><br />
        <label>Database Name: </label><br />
        <input type="text" name="database" placeholder="Enter Database Name" /><br />
        <label>Username: </label><br />
        <input type="text" name="user" placeholder="Enter Username" /><br />
        <label>Password: </label><br />
        <input type="password" name="pass" placeholder="Enter Password" /><br /><br />
        <input type="submit" value="Login To Database" />
    }

    <br />
    <p>@ViewData["errormsg"]</p>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

